@using Microsoft.AspNet.Identity;
@model  ApplicationGeneration.Models.RealtorClient


<div id="content">
    <div class="row" style="margin-top:30px;"></div>
    @Html.AntiForgeryToken()
    @Html.React("Components.Document", new { Authenticated = true, UserId = User.Identity.GetUserId<int>(), RealtorClient = Model })
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.0/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.0/react-dom.js"></script>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>*@
@*<script src="https://unpkg.com/classnames/index.js"></script>*@

<script src="https://unpkg.com/react-input-autosize/dist/react-input-autosize.js"></script>
<script src="https://unpkg.com/react-select/dist/react-select.js"></script>
<link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">

