<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://raterbee.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>raterbee.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RaterBee</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$RaterBee</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ApplicationEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:raterbeeserverdb.database.windows.net,1433;Initial Catalog=raterbee_db;User ID=raterbee@raterbeeserverdb;Password=glass7Beacon" Name="Data Source=tcp:raterbeeserverdb.database.windows.net,1433;Initial Catalog=raterbee_db;User ID=raterbee@raterbeeserverdb;Password=glass7Beacon;MultipleActiveResultSets=True;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ApplicationGeneration.ApplicationEntities, ApplicaitonGeneration" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:raterbeeserverdb.database.windows.net,1433;Initial Catalog=raterbee_db;User ID=raterbee@raterbeeserverdb;Password=glass7Beacon" Name="Data Source=tcp:raterbeeserverdb.database.windows.net,1433;Initial Catalog=raterbee_db;User ID=raterbee@raterbeeserverdb;Password=glass7Beacon;MultipleActiveResultSets=True;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ApplicationGeneration.Models.ApplicationDbContext, ApplicaitonGeneration" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="raterbeeEntities" Order="3" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:raterbeeserverdb.database.windows.net,1433;Initial Catalog=raterbee_db;User ID=raterbee@raterbeeserverdb;Password=glass7Beacon" Name="Data Source=tcp:raterbeeserverdb.database.windows.net,1433;Initial Catalog=raterbee_db;User ID=raterbee@raterbeeserverdb;Password=glass7Beacon;MultipleActiveResultSets=True;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=raterbee;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;Application Name=EntityFramework;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\raterbeeEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=raterbee;integrated security=True;multipleactiveresultsets=True;connect timeout=30;encrypt=False;trustservercertificate=True;application name=EntityFramework;applicationintent=ReadWrite;multisubnetfailover=False&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:raterbeeserverdb.database.windows.net,1433;Initial Catalog=raterbee_db;User ID=raterbee@raterbeeserverdb;Password=glass7Beacon;MultipleActiveResultSets=True;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:raterbeeserverdb.database.windows.net,1433;Initial Catalog=raterbee_db;User ID=raterbee@raterbeeserverdb;Password=glass7Beacon;MultipleActiveResultSets=True;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)raterbeeEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:raterbeeserverdb.database.windows.net,1433;Initial Catalog=raterbee_db;User ID=raterbee@raterbeeserverdb;Password=glass7Beacon;MultipleActiveResultSets=True;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>